.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

#logo {
  margin: 2.5rem 0;
  font-size: 5rem;
  animation: logo-rotate 5.33s ease-in-out infinite;
}

@keyframes logo-rotate {
  0%, 100% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
}
