/* modals */

#modals-list {
  position: fixed;
  left: 0;
  bottom: 0;
  background: var(--shadow);
}

#modals-list > * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 80%;
  transition: opacity 0.25s ease-in-out;
}

#modals-list.hidden { opacity: 0; }

#modals-list .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0;
  font-weight: bold;
}

/* results modal */

.results {
  width: min-content;
  min-width: 300px;
  padding: 10px 50px 10px 20px;
  border-radius: 10px;
}

.results ol { margin-top: 10px; }

.results li {
  color: var(--white);
  list-style-position: inside;
}
